* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

.text{
    text-align: center;
    padding-bottom: 20px;
    

}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
}

.footer {
    padding: 40px 0;
    background-color: white;
}
.footer .logo{
    text-align: left;
    padding: 45px;
    color:blanchedalmond;
    width: 25;
    height: 50;
}

.footer .icon  {
    text-align: center;
    padding-top: 25px;
    color: rgb(0,0, 0);
}

.footer .icon a{
    font-size: 24px;
    color: inherit;
    border: 1px solid aqua;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .icon a:hover {
    opacity: 1.5;
}

.footer .list {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(1, 1, 5);
}

footer {
    padding-top: 31%;
    padding-bottom: 0px;
}

.rule {
    background-color: black;
}